@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@400;600&display=swap');

:root{
    --color-primary: #881719;
    --color-bg: #EFECD9;
    --font: "Alfa Slab One", serif;
    --font-secondary : "Poppins" , serif;
    --border-radius : 15px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font-secondary);
  padding: 1rem;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: var(--font);
  font-size: 2.8rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

button{
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--color-primary);
    color: var(--color-bg);
    border: 1px solid var(--color-bg);
    border-radius: var(--border-radius); 
}

button:hover {
  background-color: #a21d1f;
  transform: scale(1.05);
  transition: all 0.2s ease;
  cursor: pointer;
}

.footer {
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 1rem;
}

.movies-container {
  display: flex;
  gap: 2rem;
  background-color: black;
  padding: 10px;
  overflow-x: auto;
  scrollbar-width: none; 
}

img{
  display: flex;
  width: 220px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.selected-movie{
  display: flex;
  flex-direction: column;
    justify-content: center;
  align-items: center;
}
img:hover{
  transform: scale(1.05);
}

.film-strip {
  background-color: black;
  width: 100vw;
  padding: 1rem 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}


.film-holes {
  display: flex;
  justify-content: space-evenly;
  height: 20px;
  background-color: black;
  position: relative;
}

.film-holes::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    to right,
    transparent 0,
    transparent 5px,
    #EFECD9 10px,
    #EFECD9 20px
  );
  mask-image: linear-gradient(black, black);
}

.film-holes.bottom {
  transform: rotate(180deg);
  margin-top: 1rem;
}

